# === Backend ===
BOT_TOKEN=
CHANNEL_ID=
DATABASE_URL=postgresql://slotio:slotio@localhost:5432/slotio_worldcup
ADMIN_PASSWORD=
ADMIN_TELEGRAM_IDS=
JWT_SECRET=
PORT=3001

WEBAPP_URL=https://pusucore.github.io/io-etkinlik/
CORS_ORIGIN=https://pusucore.github.io
CHANNEL_URL=https://t.me/slotiosocial
